{{- define "title" -}}
  {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
  {{- if .Site.Params.withSiteTitle }} {{ .Site.Params.titleDelimiter }} {{ .Site.Title }}{{- end -}}
{{- end -}}

{{- define "content" -}}
  <div class="page archive">
    <div class="header">
      {{- /* Title */ -}}
      <h1 class="single-title animate__animated animate__pulse animate__faster">
        {{- dict "Class" "fa-solid fa-bbbug fa-fw me-1" | partial "plugin/icon.html" -}}
        {{ .Title }} </sup>
      </h1>
    </div>


    {{- /* Paginate */ -}}
    {{- if .Pages -}}
      {{- $pages := .Pages.GroupByDate "2006" -}}
      {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
        {{- $pages = $.Paginate $pages . -}}
      {{- else -}}
        {{- $pages = .Paginate $pages -}}
      {{- end -}}
      {{- partial "recently-updated.html" . -}}
      {{- range $pages.PageGroups -}}
        <h2 class="group-title">
          . /
        </h2>
          {{- range .Pages.ByTitle -}}
          {{- if .IsPage -}}
            <article class="archive-item">
              <a href="{{ .RelPermalink }}" class="archive-item-link">
                {{- $repost := .Params.repost | default dict -}}
                {{- if eq $repost.enable true -}}
                  {{- dict "Class" "fa-solid fa-share fa-fw text-success me-1" | partial "plugin/icon.html" -}}
                {{- end -}}
                {{- .LinkTitle -}}
              </a>
            </article>
          {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- partial "paginator.html" . -}}
    {{- end -}}
  
    <hr/>

    {{- /* Paginate */ -}}
    {{- if .Pages -}}
      {{- $pages := .Pages.GroupByDate "2006" -}}
      {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
        {{- $pages = $.Paginate $pages . -}}
      {{- else -}}
        {{- $pages = .Paginate $pages -}}
      {{- end -}}
      {{- partial "recently-updated.html" . -}}
      {{- range $pages.PageGroups -}}
        {{- range .Pages.ByTitle -}}
          {{- if .IsPage -}}
          {{- else -}}
            <h2 class="group-title">
              <i class="{{- .Description -}}"></i>
              <a href="{{ .RelPermalink }}" class="archive-item-link">
                {{- $repost := .Params.repost | default dict -}}
                {{- if eq $repost.enable true -}}
                  {{- dict "Class" "fa-solid fa-share fa-fw text-success me-1" | partial "plugin/icon.html" -}}
                {{- end -}}
                {{- .LinkTitle -}}
              </a>
            </h2>
            {{- if .Pages -}}
              {{- range .Pages.ByTitle -}}
                {{- if .Pages -}}
                  <article class="archive-item">
                    <b>
                      <a href="{{ .RelPermalink }}" class="archive-item-link">
                        {{- $repost := .Params.repost | default dict -}}
                        {{- if eq $repost.enable true -}}
                          {{- dict "Class" "fa-solid fa-share fa-fw text-success me-1" | partial "plugin/icon.html" -}}
                        {{- end -}}
                        {{- .LinkTitle -}}
                      </a>
                    </b>
                  </article>
                {{- else -}}
                  <article class="archive-item">
                    <a href="{{ .RelPermalink }}" class="archive-item-link">
                      {{- $repost := .Params.repost | default dict -}}
                      {{- if eq $repost.enable true -}}
                        {{- dict "Class" "fa-solid fa-share fa-fw text-success me-1" | partial "plugin/icon.html" -}}
                      {{- end -}}
                      {{- .LinkTitle -}}
                    </a>
                  </article>
                {{- end -}}
              {{- end -}}
            {{- end -}}
            <article class="archive-item">
              <a href="{{ .RelPermalink }}" class="archive-item-link">
                {{- $repost := .Params.repost | default dict -}}
                {{- if eq $repost.enable true -}}
                  {{- dict "Class" "fa-solid fa-share fa-fw text-success me-1" | partial "plugin/icon.html" -}}
                {{- end -}}
              . . .
              </a>
            </article>
          {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- partial "paginator.html" . -}}
    {{- end -}}
  </div>
{{- end -}}
